.popup__error {
	color: red;
	width: calc(100% - 72px);
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	min-height: 25px;
	margin: 5px auto 0;
}

@media screen and (max-width: 512px) {
    .popup__error {
    	width: calc(100% - 44px);
    }
}